* {
  padding: 0;
  margin: 0;
  list-style: none;
  border: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,
body {
  height: 100%;
  background: #000;
}

#root {
  height: 100%;
  display: flex;
  align-items: center;
}

.tweet-settings {
  flex: 1;
  color: #fff;
  border-right: 1px solid #2f3336;
  height: 100%;
  padding: 25px;

  h3 {
    font-size: 24px;
    font-weight: normal;
    border-bottom: 1px solid #2f3336;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
}

.tweet-container {
  padding: 0 30px;
}

.tweet {
  border: 1px solid #2f3336;
  width: 600px;
  margin: 25px auto;
  padding: 0 16px;

  &-author {
    height: 48px;
    margin-top: 12px;
    display: flex;
    align-items: center;
    margin-bottom: 4px;
    font-size: 15px;
    img {
      width: 48px;
      height: 48px;
      margin-right: 12px;
      border-radius: 50%;
    }

    .name {
      color: #fff;
      font-weight: 700;
      display: flex;
      align-items: center;
      height: 19px;

      svg {
        margin-left: 3px;
      }
    }

    .username {
      color: #6e767d;
    }
  }

  &-content {
    padding: 12px 0;
    p {
      font-size: 23px;
      line-height: 28px;
      color: #fff;
    }
  }

  &-stats {
    height: 53px;
    display: flex;
    color: #fff;
    align-items: center;
    font-size: 15px;
    color: #6e767d;
    border-top: 1px solid #2f3336;
    b {
      color: #fff;
    }
    span:not(:last-child) {
      margin-right: 20px;
    }
  }

  &-actions {
    height: 48px;
    display: flex;
    border-top: 1px solid #2f3336;
    color: #fff;
    align-items: center;
    justify-content: space-around;
  }
}
